/* General Styles */
.skills-page {
  padding: 20px;
}

.component-header,
.component-sub-header {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 15px;
}

.component-sub-header {
  font-size: 1.5rem;
  color: #777;
}

.skills-page .component-header {
  margin-top: 40px;
}

/* Skills Grid */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  transition: transform 0.3s ease;
  width: 100%; /* Make it responsive */
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Skill Icon */
.skill-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Skill Name */
.skill-name {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

/* Responsive Grid Layout */
@media (max-width: 768px) {
  .skill-card {
    width: 48%; /* 2 items per row */
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .skill-card {
    width: 30%; /* 3 items per row */
  }
}

@media (min-width: 992px) {
  .skill-card {
    width: 22%; /* 4 items per row */
  }
}