@import '../../variable.scss';

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

    #mobile {
        width: 250px;
        margin: 30px;
        #display {
            height: 500px;
            background: #000;
            position: relative;
            border-radius: 45px;
            &::before {
                content: "";
                position: absolute;
                top: 50px;
                left: 15px;
                right: 15px;
                bottom: 50px;
                border-radius: 5px;
                background: #f5f5f5;
            }
            &__content {
                position: absolute;
                top: 50px;
                left: 15px;
                right: 15px;
                bottom: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: url('../../images/phone-wallpaper.png');
                background-size: cover;
                background-repeat: no-repeat;
                #status-bar {
                    display: flex;
                    font-size: 10px;
                    align-items: center;
                    justify-content: space-between;
                    #wifi {
                        display: flex;
                        align-items: center;
                        .signal {
                            width: 4px;
                            height: 4px;
                            margin-right: 3px;
                            border-radius: 30px;
                            background: #afb1ae;
                        }
                        img {
                            width: 12px;
                            height: 10px;
                            filter: invert(1);
                        }
                    }
                    #time {
                        color: #afb1ae;
                    }
                    #battery {
                        display: flex;
                        color: #afb1ae;
                        align-items: center;
                        img {
                            width: 15px;
                            height: 15px;
                            margin-left: 3px;
                            filter: invert(1);
                        }
                    }
                }
                #contact-icons {
                    display: flex;
                    height: 50px;
                    align-items: center;
                    justify-content: space-around;
                    img {
                        width: 38px;
                        height: 38px;
                        cursor: pointer;
                    }
                    #phone-img {
                        width: 42px;
                        height: 43px;
                    }
                    #location-img {
                        border-radius: 5px;
                    }
                }
                .bounce-class {
                    animation: bounce 0.5s alternate ease;
                    animation-iteration-count: infinite;
                }
                #contact-list {
                    display: flex;
                    justify-content: center;
                    &__selected-value {
                        width: 160px;
                        color: #fff;
                        padding: 20px;
                        opacity: 0.9;
                        position: relative;
                        text-align: center;
                        background: #000;
                        border-radius: 20px;
                        a {
                            width: 100px;
                            color: #fff;
                            font-size: 13px;
                            word-break: break-all;
                        }
                        #title {
                            font-size: 16px;
                            font-weight: 700;
                            margin-bottom: 10px;
                            color: $primary-color;
                        }
                        #address {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        #mobile-header {
            position: relative;
            top: 35px;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            #circle {
                width: 7px;
                height: 7px;
                margin-right: 10px;
                background: #afb1ae;
                border-radius: 20px;
            }
            #line {
                width: 50px;
                height: 5px;
                background: #afb1ae;
                border-radius: 20px;
            }
        }
        #mobile-home-btn {
            width: 30px;
            height: 30px;
            position: relative;
            left: 50%;
            bottom: 42px;
            border-radius: 50px;
            border: 1px solid #afb1ae;
            transform: translateX(-50%);
        }
    }
}

@keyframes bounce {
    from { transform: translate3d(0, 0, 0);} 
    to { transform: translate3d(0, -15px, 0);} 
}
